.header{
    display: grid;
    grid-template: 1fr 1fr / auto;
    background-color: rgba(0,0,0,0.5);
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.header .headerIcons{
    grid-area: 1/1/2/2;
    text-align: end;
}

.headerIcons img{
    padding: 1rem;
}